@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');


:root {
    --bg-color: #24252A;

    --dark-color: #2b2b34;

    --primary-color-op: #1e91d686;
    --primary-color: #1e91d6;
    --primary-100-color: #004998;
    --text-color: #dddbcb;

    --white : white;
    --gradien-primary : linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(2,156,218,1) 77%, rgba(0,212,255,1) 100%);


    /* var usables*/
    --img-dp: 50vw;
    --h1: 10vw;
  }
  

*{
    padding: 0;
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
    box-sizing: border-box;
    
    
    
    
}
*::-webkit-scrollbar {
    width: 5px;     /* Tamaño del scroll en vertical */
    height: 5px;    /* Tamaño del scroll en horizontal */
     display: none; /*  Ocultar scroll */

}

/* NavBar*/

html{
    scroll-behavior: smooth;
    background-color: var(--bg-color);
}


@media screen and (min-width: 601px) {

   
    .lg{
        width: 0vw;
    }
    .logo{
        cursor: pointer;
        font-weight: 600;
        font-size: 3vw;
    
        margin-right: auto;
        color: var(--text-color);
    }
    .logo a{
        color: var(--primary-color);
    }
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 1;
        width: 100%;
        padding: 20px 5%;
        font-size: 1.5vw;
        background-color: var(--bg-color);
        
    }
    
    .nav_link{
        background-color: var(--bg-color);
        list-style: none;
    }
    .nav_link a{    
        color: var(--text-color);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        display: inline-block;
        padding: 0px 20px;
        text-decoration: none;
    }
    
    
    .nav_link  a:hover{
        color: var(--primary-color);
    }
    
    .button {
        padding: 9px 25px;
        border: none;
        background-color: var(--primary-color);
        border-radius: 50px;
        color: var(--text-color);
        float: left;
        cursor: pointer;
        font-size: 1.5vw;
        text-decoration: none;
        font-weight: 700;
        transition: all 0.3s ease 0s;
    }
    
    .button:hover{
        background-color: var(--primary-100-color);
        color: var(--white);
        
        
    }
    
    /* Home  */
    
    .home  {
        background-color: var(--bg-color);
        padding:0px 5% ;

        padding-right: 5%;
        padding-top: 5%;
        justify-content: space-between;
        align-items: center;
        text-align: justify;
        display: flex;
        color: var(--text-color);
        
    }
    
    .home p{
        font-size: 5vw;
        text-align: left;

    }

    .home img{
        margin: 7%; 
        width: 30vw;
    }
    
    .blue{
        font-size: 4vw;
        font-weight:600;
        color: var(--primary-color);
    }

    /* About  */
    .about .text{
        
        font-size: 2vw;
    }
   



    .about  {

        background-color: var(--bg-color);
        padding:0px 5% ;
        padding-right: 5%;
        padding-top: 0%;
        height: 100vh;
        justify-content: space-between;
        align-items: center;
        text-align: justify;
        display: flex;
        color: var(--text-color);
    }

    .about .description{
        width: 60vw;
        
    }

 
    .about lottie-player{
        width: 50vw;
        height: 60vw;
        
        
    }


    /* servicios  */

    .services{
        height: 100vh;
        background-color: var(--bg-color);
        padding-top: 6%;
        padding-bottom: 6%;
        
    }

    .services .title .blue{ 
        font-size: 5vw;
        text-align: center;
            
    }

   .content-card{
        padding-top: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .services .box{        
        
        justify-content: center;
        align-content: center;        
        text-align: center;
        position: relative;
    }

 
    .box  { 

        width: 25vw;
        height: 20vw;
        padding: 3vw;
        margin: 3vw;
        font-weight: 900;
        border-radius: 10px;
        background-color: var(--dark-color);
        box-shadow: 3px 3px 20px -2px var(--primary-color);        
        color:var(--white);
    

    }


    .box:hover { 
        
        width: 30vw;
        height: 20vw;
        margin-left: 5vh;
        margin-right: 5vh;
        background-color: #1e91d6;
        transition: all 300ms;
    }
     

    

    .box .ti{  
        
        font-size: 2vw;
        visibility: visible;
    }
    .box:hover .ti{   
        visibility: hidden;
    }
          
    .box .t{
    
        visibility: hidden;
    }

    .box:hover .t{
        color: var(--white);
        font-weight: 900;
        margin-bottom: 25vh;
        margin-top: -26vh;
        text-align:center;
        z-index: 5;
        padding-left: 2vw;
        padding-right: 2vw;
        font-size: 1.5vw;
        transition: cubic-bezier(0.23, 1, 0.320, 1);
        transition-duration: 1s;
        visibility: visible;
    }
    
    .box .paths{
        display: flex;
        padding: 2vw;
    }

    .box:hover svg {
        
        opacity: 0.2;

    }


    /*  Work  */

}
